<div class="container">
    <div id="chat">
        <div id="messages">
            <% messages.forEach(message => {%>
            <div class='balloon <%= message[0] %>'>
                <%= message[1] %></div>
                </div>
            <%})%>
                <hr>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div id="chat-input" class="input-field col s9">
                                <input id="name" type="text" class="validate">
                                <label for="name">Digite aqui sua mensagem</label>
                            </div>
                            <div class="input-field col s3">
                                <a id="chat-send" href="#"><i class="material-icons">send</i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>